{% extends 'base.html.twig' %}

{% block title %}Edit Deces{% endblock %}

{% block body %}
    <h1>Edit Deces</h1>

    {{ include('deces/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('deces_index') }}">back to list</a>

    {{ include('deces/_delete_form.html.twig') }}
{% endblock %}
