{% extends 'base.html.twig' %}

{% block title %}Edit Casier{% endblock %}

{% block body %}
    <h1>Edit Casier</h1>

    {{ include('casier/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('casier_index') }}">back to list</a>

    {{ include('casier/_delete_form.html.twig') }}
{% endblock %}
